<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ArtInfoBoard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,125}</string>
                <key>spriteSourceSize</key>
                <string>{200,125}</string>
                <key>textureRect</key>
                <string>{{0,346},{200,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BidBoard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,53}</string>
                <key>spriteSourceSize</key>
                <string>{96,53}</string>
                <key>textureRect</key>
                <string>{{78,0},{96,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GalleryBoard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,400}</string>
                <key>spriteSourceSize</key>
                <string>{600,400}</string>
                <key>textureRect</key>
                <string>{{0,926},{600,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MultiplayButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,149}</string>
                <key>spriteSourceSize</key>
                <string>{336,149}</string>
                <key>textureRect</key>
                <string>{{350,346},{336,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MultiplayButtonPressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,149}</string>
                <key>spriteSourceSize</key>
                <string>{336,149}</string>
                <key>textureRect</key>
                <string>{{0,495},{336,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Namecard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,75}</string>
                <key>spriteSourceSize</key>
                <string>{350,75}</string>
                <key>textureRect</key>
                <string>{{400,66},{350,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NamecardPressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,75}</string>
                <key>spriteSourceSize</key>
                <string>{350,75}</string>
                <key>textureRect</key>
                <string>{{0,141},{350,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>OkButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,66}</string>
                <key>spriteSourceSize</key>
                <string>{150,66}</string>
                <key>textureRect</key>
                <string>{{270,0},{150,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>OkButtonPressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,66}</string>
                <key>spriteSourceSize</key>
                <string>{150,66}</string>
                <key>textureRect</key>
                <string>{{420,0},{150,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PaintersInfoBoard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,125}</string>
                <key>spriteSourceSize</key>
                <string>{150,125}</string>
                <key>textureRect</key>
                <string>{{200,346},{150,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PopupCancel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,15}</string>
                <key>textureRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PopupOk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,22}</string>
                <key>spriteSourceSize</key>
                <string>{63,22}</string>
                <key>textureRect</key>
                <string>{{15,0},{63,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ReadyButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,66}</string>
                <key>spriteSourceSize</key>
                <string>{150,66}</string>
                <key>textureRect</key>
                <string>{{570,0},{150,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ReadyButtonPressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,66}</string>
                <key>spriteSourceSize</key>
                <string>{150,66}</string>
                <key>textureRect</key>
                <string>{{720,0},{150,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RoomTitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,124}</string>
                <key>spriteSourceSize</key>
                <string>{350,124}</string>
                <key>textureRect</key>
                <string>{{468,222},{350,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SinglePlayButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,149}</string>
                <key>spriteSourceSize</key>
                <string>{336,149}</string>
                <key>textureRect</key>
                <string>{{336,495},{336,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SinglePlayButtonPressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,149}</string>
                <key>spriteSourceSize</key>
                <string>{336,149}</string>
                <key>textureRect</key>
                <string>{{672,495},{336,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>StartButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,66}</string>
                <key>spriteSourceSize</key>
                <string>{150,66}</string>
                <key>textureRect</key>
                <string>{{0,66},{150,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>StartButtonPressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,66}</string>
                <key>spriteSourceSize</key>
                <string>{150,66}</string>
                <key>textureRect</key>
                <string>{{150,66},{150,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Timer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,282}</string>
                <key>spriteSourceSize</key>
                <string>{283,282}</string>
                <key>textureRect</key>
                <string>{{300,644},{283,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TimerBase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,282}</string>
                <key>spriteSourceSize</key>
                <string>{283,282}</string>
                <key>textureRect</key>
                <string>{{583,644},{283,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,96}</string>
                <key>spriteSourceSize</key>
                <string>{57,96}</string>
                <key>textureRect</key>
                <string>{{285,222},{57,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,90}</string>
                <key>spriteSourceSize</key>
                <string>{75,90}</string>
                <key>textureRect</key>
                <string>{{57,222},{75,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,81}</string>
                <key>spriteSourceSize</key>
                <string>{63,81}</string>
                <key>textureRect</key>
                <string>{{662,141},{63,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,81}</string>
                <key>spriteSourceSize</key>
                <string>{57,81}</string>
                <key>textureRect</key>
                <string>{{725,141},{57,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,78}</string>
                <key>spriteSourceSize</key>
                <string>{81,78}</string>
                <key>textureRect</key>
                <string>{{350,141},{81,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bid1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,96}</string>
                <key>spriteSourceSize</key>
                <string>{69,96}</string>
                <key>textureRect</key>
                <string>{{342,222},{69,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bid2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,90}</string>
                <key>spriteSourceSize</key>
                <string>{78,90}</string>
                <key>textureRect</key>
                <string>{{132,222},{78,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bid3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,81}</string>
                <key>spriteSourceSize</key>
                <string>{75,81}</string>
                <key>textureRect</key>
                <string>{{782,141},{75,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bid4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,81}</string>
                <key>spriteSourceSize</key>
                <string>{69,81}</string>
                <key>textureRect</key>
                <string>{{857,141},{69,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bid5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,78}</string>
                <key>spriteSourceSize</key>
                <string>{81,78}</string>
                <key>textureRect</key>
                <string>{{431,141},{81,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubble.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,53}</string>
                <key>spriteSourceSize</key>
                <string>{96,53}</string>
                <key>textureRect</key>
                <string>{{174,0},{96,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chatbox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,401}</string>
                <key>spriteSourceSize</key>
                <string>{350,401}</string>
                <key>textureRect</key>
                <string>{{600,926},{350,401}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dealer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,78}</string>
                <key>spriteSourceSize</key>
                <string>{69,78}</string>
                <key>textureRect</key>
                <string>{{512,141},{69,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>easel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,70}</string>
                <key>spriteSourceSize</key>
                <string>{100,70}</string>
                <key>textureRect</key>
                <string>{{300,66},{100,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>front1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,96}</string>
                <key>spriteSourceSize</key>
                <string>{57,96}</string>
                <key>textureRect</key>
                <string>{{411,222},{57,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>front2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,90}</string>
                <key>spriteSourceSize</key>
                <string>{75,90}</string>
                <key>textureRect</key>
                <string>{{210,222},{75,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>front3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,81}</string>
                <key>spriteSourceSize</key>
                <string>{63,81}</string>
                <key>textureRect</key>
                <string>{{926,141},{63,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>front4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,81}</string>
                <key>spriteSourceSize</key>
                <string>{57,81}</string>
                <key>textureRect</key>
                <string>{{0,222},{57,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>front5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,78}</string>
                <key>spriteSourceSize</key>
                <string>{81,78}</string>
                <key>textureRect</key>
                <string>{{581,141},{81,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{0,644},{300,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>data.png</string>
            <key>size</key>
            <string>{1008,1327}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2975e7f1065309138f219b35c10f742b:25c6cab751d492f68e7e429b990c1603:c082291575fff0c0bc337159618b425a$</string>
            <key>textureFileName</key>
            <string>data.png</string>
        </dict>
    </dict>
</plist>
